body {
  font-family: 'Courier New', Courier, monospace;
  color: #FFD700;
  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.submit-background {
  background: url("../img/openedEye.png");
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 100px;
}

.unlucky-background {
  background-color: darkred;
}

.lucky-background {
  background-color: lightseagreen;
}

.neutral-background {
  background-color: lightsteelblue;
  color: black;
}

form {
  background: url("../img/plainEye.png");
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 50px;

}

h1, h2 {
  text-align: center;
}

#tryAgainButton, #seeResults {
  color: black;
}

.showLater {
  margin: 30px;
  padding: 15px;
  display: none;
  text-align: center;
}


